/* || Estilo general */
:root{
    --color-grey:#EAEAEA;
    --color-red:#FF2E63;
    --color-black:#252A34;
    --color-teal:#08D9D6;
}

html{
    overflow-y: scroll;
    scroll-behavior:smooth;
   
}

body{ 
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    
}

main{
    background: url(../images/background.jpg);
    background-size:cover;
}
/* || HEADER */
header{
    position: relative;
    background-color: var(--color-black);
    color: var(--color-grey);
    text-align: center;
    height: 10vh;
    
}

h1, h2, h3{
    margin: 0;
}

p{
    margin:0;
}
/* || main */
main{
    background-color: var(--color-black);
    color: var(--color-grey);
    
}

footer{
    font-size: 1.5em;
    text-align: center;
    color: var(--color-grey);
    background: black;
    height: 5vh;
}

figure{
    margin: 0;
}

ul{ 
    list-style: none;
}

a{
    color: #EAEAEA;
    text-decoration: none;
}
